/*Header section styles start*/
// Header section styles start
@use "../abstract/variables" as vars;
.header{
    width: 100%;
    height: 100vh;
}
.left-side{
    float: left;
    width: 50%;
    height: 100%;
    background-image: url("/images/home-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .logo{
        height: 10vh;
        display: flex;
        align-items: center;
        padding: 1rem;
        width: 100%;
        h1{
            color: vars.$home-title-bold;
            font-size: 1.5rem;
            text-shadow: 2px 2px 0 #fff;
        }
    }
}
.right-side{
    float: right;
    width: 50%;
    height: 100%;
    background-color: vars.$header-bg;
}
/*Header section styles end*/
// Header section styles end