$navbar-active: #E3AE57;
$navbar-item: #666666;
$home-secondary-color: #999999;
$home-title: #333333;
$home-title-bold: #232b2b;
$home-text: #888888;
$header-bg: #F1E2D7;
$red-bg: #E9724C;
$black-bg: #161616;